horizontal.splitter.light.wing.cursor CURSOR "../../../wing/res/horizontal.splitter.light.wing.cur"
horizontal.splitter.dark.wing.cursor CURSOR "../../../wing/res/horizontal.splitter.dark.wing.cur"
vertical.splitter.light.wing.cursor CURSOR "../../../wing/res/vertical.splitter.light.wing.cur"
vertical.splitter.dark.wing.cursor CURSOR "../../../wing/res/vertical.splitter.dark.wing.cur"
arrow.wing.bitmap BITMAP "../../../wing/res/arrow.wing.bmp"
cmcode.icon ICON "./cmcode.ico"
cmcode.small.icon ICON "./cmcodesmall.ico"
cmcode.save.light.bitmap BITMAP "./save.light.bmp"
cmcode.save.dark.bitmap BITMAP "./save.dark.bmp"
cmcode.save.all.light.bitmap BITMAP "./save.all.light.bmp"
cmcode.save.all.dark.bitmap BITMAP "./save.all.dark.bmp"
cmcode.build.solution.light.bitmap BITMAP "./build.solution.light.bmp"
cmcode.build.solution.dark.bitmap BITMAP "./build.solution.dark.bmp"
cmcode.build.project.light.bitmap BITMAP "./build.project.light.bmp"
cmcode.build.project.dark.bitmap BITMAP "./build.project.dark.bmp"
cmcode.cancel.build.light.bitmap BITMAP "./cancel.build.light.bmp"
cmcode.cancel.build.dark.bitmap BITMAP "./cancel.build.dark.bmp"
cmcode.debug.start.light.bitmap BITMAP "./start.light.bmp"
cmcode.debug.start.dark.bitmap BITMAP "./start.dark.bmp"
cmcode.debug.stop.light.bitmap BITMAP "./stop.light.bmp"
cmcode.debug.stop.dark.bitmap BITMAP "./stop.dark.bmp"
cmcode.debug.show.next.statement.light.bitmap BITMAP "./show.next.statement.light.bmp"
cmcode.debug.show.next.statement.dark.bitmap BITMAP "./show.next.statement.dark.bmp"
cmcode.debug.step.over.light.bitmap BITMAP "./step.over.light.bmp"
cmcode.debug.step.over.dark.bitmap BITMAP "./step.over.dark.bmp"
cmcode.debug.step.into.light.bitmap BITMAP "./step.into.light.bmp"
cmcode.debug.step.into.dark.bitmap BITMAP "./step.into.dark.bmp"
cmcode.debug.step.out.light.bitmap BITMAP "./step.out.light.bmp"
cmcode.debug.step.out.dark.bitmap BITMAP "./step.out.dark.bmp"
console.app.bitmap BITMAP "./console.app.bmp"
win.gui.app.bitmap BITMAP "./win.gui.app.bmp"
lib.bitmap BITMAP "./lib.bmp"
win.lib.bitmap BITMAP "./win.lib.bmp"
cmcode.prev.light.bitmap BITMAP "./prev.light.bmp"
cmcode.prev.dark.bitmap BITMAP "./prev.dark.bmp"
cmcode.next.light.bitmap BITMAP "./next.light.bmp"
cmcode.next.dark.bitmap BITMAP "./next.dark.bmp"
cm.views.arrow.bitmap BITMAP "./arrow.bmp"
file.light.bitmap BITMAP "./file.light.bmp"
file.dark.bitmap BITMAP "./file.dark.bmp"
xml_file.light.bitmap BITMAP "./xml_file.light.bmp"
xml_file.dark.bitmap BITMAP "./xml_file.dark.bmp"
cmproject.light.bitmap BITMAP "./cmproject.light.bmp"
cmproject.dark.bitmap BITMAP "./cmproject.dark.bmp"
cmsolution.light.bitmap BITMAP "./cmsolution.light.bmp"
cmsolution.dark.bitmap BITMAP "./cmsolution.dark.bmp"
