<solutionSettings>
    <callStackOpen value="false"/>
    <localsViewOpen value="false"/>
    <openFiles>
        <item value="C:/work/cmajor-mod/cmajor/masm/system/System.Base/Bitset.cm"/>
        <item value="C:/work/cmajor-mod/cmajor/masm/system/System.Base/Result.cm"/>
        <item value="C:/work/cmajor-mod/cmajor/projects/tools/spring/diagram_element.cm"/>
    </openFiles>
    <currentOpenFile value="C:/work/cmajor-mod/cmajor/projects/tools/spring/diagram_element.cm"/>
    <currentCursorLine value="331"/>
    <breakpoints/>
    <expandedProjects>
        <item value="spring"/>
    </expandedProjects>
</solutionSettings>
